*.pyc
*.html
*.c
*.cpp
*.h
*.log
*.out
var/security
./build/*
build/*
build/
*.cover
htmlcov
.coverage
.pytest_cache
*.so
__pycache__
.DS_Store
drivers
jobs/custom*
rtl/tasks/custom*
*.list
var/run/*
raw_data/
raw_data/*
test.py
dsdsl/custom_*
*copy*
.coverage*
~
